services:
  backend:
    build: ./backend
    container_name: rdr2_backend
    restart: always
    # Backend naslouchá na 5000 uvnitř sítě, ven to nevystavujeme
    expose:
      - "5000"
    # ZDE PŘEDÁVÁME NASTAVENÍ DO PYTHON CONFIGU
    environment:
      - DB_HOST=192.168.88.21
      - DB_USER=root
      - DB_PASSWORD=password
      - DB_NAME=VORP
      - DB_PORT=3306
      - APP_SECRET_KEY=moje-super-tajne-heslo-pro-jwt
      - GEMINI_API_KEY=ZDE_VLOZ_TVUJ_API_KLIC
      - GEMINI_MODEL=gemini-2.5-flash-image
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: rdr2_frontend
    restart: always
    # Venkovní port (např. 8080) mapujeme na vnitřní port Nginxu
    ports:
      - "${HOST_PORT:-8080}:${FRONTEND_INTERNAL_PORT:-80}"
    depends_on:
      - backend
    # ZDE NASTAVUJEME PORT PRO NGINX ŠABLONU
    environment:
      - FRONTEND_INTERNAL_PORT=${FRONTEND_INTERNAL_PORT:-80}
    networks:
      - app-network

networks:
  app-network:
    driver: bridge